@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0c0c0c;
    --card: #ffffff;
    --card-foreground: #0c0c0c;
    --popover: #ffffff;
    --popover-foreground: #0c0c0c;
    --primary: #333366;
    --primary-foreground: #ffffff;
    --secondary: #ccddee;
    --secondary-foreground: #333366;
    --muted: #ccddee;
    --muted-foreground: #7a7a7a;
    --accent: #ccddee;
    --accent-foreground: #333366;
    --destructive: #d91e18;
    --destructive-foreground: #d0d0ff;
    --border: #d4d4d4;
    --input: #d4d4d4;
    --ring: #0c0c0c;
    --radius: 0.5rem;
    --chart-1: #f96d12;
    --chart-2: #2aa477;
    --chart-3: #194b3d;
    --chart-4: #c2ff94;
    --chart-5: #f9ad17;
  }

  .dark {
    --background: #0c0c0c;
    --foreground: #d0d0ff;
    --card: #0c0c0c;
    --card-foreground: #d0d0ff;
    --popover: #0c0c0c;
    --popover-foreground: #d0d0ff;
    --primary: #d0d0ff;
    /* --primary-foreground: #333366; */
    --primary-foreground: #ffffff;
    --secondary: #293346;
    --secondary-foreground: #d0d0ff;
    --muted: #293346;
    --muted-foreground: #adafc5;
    --accent: #293346;
    --accent-foreground: #d0d0ff;
    --destructive: #c0392b;
    --destructive-foreground: #d0d0ff;
    --border: #293346;
    --input: #293346;
    --ring: #adb5bd;
    --chart-1: #1e90ff;
    --chart-2: #008080;
    --chart-3: #ffa500;
    --chart-4: #4b0082;
    --chart-5: #ff00ff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
